%tr
  %th
    Total price
  %td
    %h4
      = number_to_currency(order.total_price.round(2), precision: 2)
%tr
  %th
    Products
  %td
    %ul{ class: "list-group" }
      - order.order_details.each do |order_detail|
        %li{ class: "list-group-item" }
          %h4
            = order_detail.product.product_name
%tr
  %th
    Shipper
  %td
    = order.shipper.company_name if order.shipper
%tr
  %th
    Customer
  %td
    = order.customer.company_name if order.customer
%tr
  %th
    Employee
  %td
    = "#{order.employee.first_name} #{order.employee.last_name}" if order.employee
