%tr
  %th
    Products
  %td
    %ul{ class: "list-group" }
      - order.order_details.each do |order_detail|
        %li{ class: "list-group-item" }
          %h4
            = order_detail.product.product_name
          %br
          = "Unit price: $" + order_detail.unit_price.to_s
          %br
          = "Quantity: " + order_detail.quantity.to_s
          %br
          = "Discount: " + order_detail.discount.to_i.to_s + "%"
%tr
  %th
    Order date
  %td
    = order.order_date
%tr
  %th
    Required date
  %td
    = order.required_date
%tr
  %th
    Shipped date
  %td
    = order.shipped_date
%tr
  %th
    Shipper
  %td
    - if order.shipper
      Name:
      = order.shipper.company_name
      %br
      = "Phone: #{order.shipper.phone}"
%tr
  %th
    Shipping details
  %td
    Name:
    = order.ship_name
    %br
    Address:
    = [order.ship_address, order.ship_postal_code, order.ship_city, order.ship_region, order.ship_country].compact.join(", ")
%tr
  %th
    Customer
  %td
    - if order.customer
      Name:
      = order.customer.company_name
      %br
      Address:
      = [order.customer.address, order.customer.postal_code, order.customer.city, order.customer.region, order.customer.country].compact.join(", ")
      %br
      Phone:
      = order.customer.phone
      %br
      Fax:
      = order.customer.fax
%tr
  %th
    Employee
  %td
    - if order.employee
      Name:
      = [order.employee.first_name, order.employee.last_name].join(" ")
      %br
      Phone:
      = order.employee.home_phone
      %br
      Address:
      = [order.employee.address, order.employee.postal_code, order.employee.city,  order.employee.region, order.employee.country].compact.join(", ")
