%div{ class: "nested-fields order-details" }
  = f.input :product_id, collection: @products, label_method: lambda { |product| "##{product.id} #{product.product_name}" }, value_method: :id, label: "Product"
  = f.input :quantity, input_html: { min: 1 }
  = f.input :discount, input_html: { min: 0, max: 100 }
  = f.hidden_field :_destroy
  = link_to_remove_association "Remove product", f, class: "btn btn-danger"
