%div{ class: "container" }
  %div{ class: "row" }
    %div{ class: "col-xs-4 col-xs-offset-4" }
      %h1{ class: "justify" }
        Update order
      = simple_form_for @order do |f|
        = f.input :customer_id, collection: @customers, label_method: lambda { |customer| "##{customer.id} #{customer.company_name}" }, :value_method => :id, :label => "Customer"
        = f.input :employee_id, collection: @employees, label_method: lambda { |employee| "##{employee.id} #{employee.first_name} #{employee.last_name}" }, :value_method => :id, :label => "Employee"
        = field_set_tag "Order details" do
          = f.simple_fields_for :order_details do |order_detail|
            = render 'order_detail_fields', f: order_detail
          .links
            = link_to_add_association 'Add new product', f, :order_details, class: "btn btn-primary"
        = field_set_tag "Shipping" do
          = f.label(:required_date, "Required date")
          = f.date_field :required_date, as: :date, min: Date.today, html5: true
          = f.input :ship_via, collection: @shippers, label_method: lambda { |shipper| "##{shipper.id} #{shipper.company_name}" }, :value_method => :id, :label => "Ship via"
          = f.input :freight
          = f.input :ship_name
          = f.input :ship_address
          = f.input :ship_city
          = f.input :ship_region
          = f.input :ship_postal_code
          = f.input :ship_country, label: "Ship country", as: :string
        %br
        = f.button :submit, "Submit", class: "btn btn-info submit"
