%div{ class: "container" }
  %div{ class: "text-right bottom-margin" }
    = link_to "Back to Main page", "main#index", class: "btn btn-primary"

  %div{ class: "text-center bottom-margin" }
    %h1
      Orders
    = link_to "Create new order", new_order_path, class: "btn btn-success"

  - @orders.each do |order|
    %div{ class: "row" }
      %div{ class: "col-xl" }
        %table{ class: "table table-striped" }
          %tr
            %th{ class: "col-md-3" }
              ID
            %td
              = order.id
          = render "order_overview", order: order
          %tr
            %td{ colspan: 2, class: "text-center" }
              = link_to "Show", order, class: "btn btn-info"
              = link_to "Update", edit_order_path(order), class: "btn btn-warning"
              = link_to "Delete", order, method: :delete, class: 'btn btn-danger'
