%div{ class: "container" }
  %div{ class: "row" }
    %div{ class: "col-xl" }
      %h1
        = "Order ##{@order.id}"
      %table{ class: "table table-striped" }
        = render "order_summary", order: @order
        %tr
          %td{ colspan: 2, class: "text-center" }
            = link_to "Update", edit_order_path(@order), class: "btn btn-warning"
            = link_to "Delete", @order, method: :delete, class: 'btn btn-danger'
            = link_to "Show all", orders_path, class: "btn btn-info"
