%div{ class: "container" }
  %div{ class: "row" }
    %div{ class: "col-xs-4 col-xs-offset-4" }
      %h4
        Filter products by:
      = simple_form_for :filter, url: products_path, method: :get do |f|
        - f.input :method, :as => :hidden, :input_html => { :value => "some value" }
        Name:
        = f.input :product_name,
          label: false,
          input_html: {value: filter_params&.dig("product_name")}
        Category:
        = f.input :category_id,
          collection: categories,
          label_method: lambda { |category| "##{category.id} #{category.category_name}" },
          value_method: :id,
          include_blank: true,
          label: false,
          selected: filter_params&.dig("category_id")
        = f.button :submit, "Filter", class: "btn btn-info filter btn-small"
        = link_to "Clean filters", products_path, class: "btn btn-warning filter btn-small"
