%div{ class: "container" }
  %div{ class: "text-right bottom-margin" }
    = link_to "Back to Main page", "main#index", class: "btn btn-primary"

  %div{ class: "text-center bottom-margin" }
    %h1
      Products
    = link_to "Add new product", new_product_path, class: "btn btn-success"

  %div{ class: "text-left" }
    = render "product_summary_filter_form",
     categories: @categories,
     filter_params: @filter_params

  %div{ class: "row" }
    %div{ class: "col-xl" }
      %table{ class: "table table-striped" }
        %tr
          %th
            ID
          %th
            Product Name
          %th
            Category Name
          %th
            Supplier Company
          %th{class: "text-center" }
            Actions

        - @products.each do |product|
          %tr
            %td
              = product.id

            %td
              %h4
                = product.product_name

            - if product.category
              %td
                = product.category.category_name
            - else
              %td{style: "color:LightGray"}
                N/A

            - if product.supplier
              %td
                = product.supplier.company_name
            - else
              %td{style: "color:LightGray"}
                N/A

            %td{ class: "text-center" }
              = link_to "Show", product, class: "btn btn-info"
              = link_to "Update", edit_product_path(product), class: "btn btn-warning"
              = link_to "Delete", product, method: :delete, class: 'btn btn-danger'
