%div{ class: "container" }
  %div{ class: "text-right bottom-margin" }
    = link_to "Back to Main page", "main#index", class: "btn btn-primary"

  %div{ class: "text-center bottom-margin" }
    %h1
      Products
    = link_to "Add new product", new_product_path, class: "btn btn-success"

  - @products.each do |product|
    %div{ class: "row" }
      %div{ class: "col-xl" }
        %table{ class: "table table-striped" }
          %tr
            %td{ class: "col-md-3" }
              = product.id
            %td
              %h4
                = product.product_name
            %td{ colspan: 2, class: "text-center", style: "text-align: right"}
              = link_to "Show", product, class: "btn btn-info"
              = link_to "Update", edit_product_path(product), class: "btn btn-warning"
              = link_to "Delete", product, method: :delete, class: 'btn btn-danger'
